Source: systemd-cython
Section: python
Priority: optional
Maintainer: Timo Kluck <tkluck@infty.nl>
Build-Depends: debhelper (>= 9), dh-python, python-all, python-setuptools, python-dev, python3-all, python3-setuptools, python3-dev, libsystemd-dev
Standards-Version: 3.9.8
Homepage: https://github.com/mosquito/python-systemd
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.2
Vcs-Git: https://github.com/mosquito/python-systemd.git

Package: python-systemd-cython
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Suggests: python-systemd-cython-doc
Description: Python systemd wrapper (Python 2)
 A pythonic systemd wrapper, offering intergration
 with the logging module.
 .
 This package installs the library for Python 2.

Package: python3-systemd-cython
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Suggests: python-systemd-cython-doc
Description: Python systemd wrapper (Python 3)
 A pythonic systemd wrapper, offering intergration
 with the logging module.
 .
 This package installs the library for Python 3.

Package: python-systemd-cython-doc
Architecture: all
Section: doc
Depends: ${sphinxdoc:Depends}, ${misc:Depends}
Description: Python systemd wrapper (common documentation)
 A pythonic systemd wrapper, offering intergration
 with the logging module.
 .
 This is the common documentation package.
